.App {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url(../../img/maps.jpg);

  margin-top: -10px;
  width: 100vw;
  height: 100vh;
}
html {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: flex-start;
}
