/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.tableContainer {
  overflow: scroll;
  height: 125px;
}
.tableContainer::-webkit-scrollbar {
  display: none;
}
.table {
  border: 2px solid black;
  border-spacing: 0;
}
.table tr {
  border: 2px solid black;
  margin: 0px;
}
.table th {
  border: 2px solid black;
  margin: 0px;
}
.table td {
  border: 2px solid black;
  margin: 0px;
}
.modalContentContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
/* Modal Content/Box */
.modalContent {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 400px; /* Could be more or less, depending on screen size */
  height: 600px;
  z-index: 10;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.formCell {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}
.formButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  width: 100px;
  height: 50px;
  border: 1px solid black;
  font-weight: 700;
  cursor: pointer;
}
.formButton:hover {
  opacity: 0.7;
}
/* modelMenu style */
.dropdownModelMenu {
  display: inline-block;
}
.dropBoxModelMenu {
  position: relative;
  width: 100px;
  margin-left: 10px;
  margin-top: 10px;
}
.dropdownContentModelMenu {
  background-color: #000000;
  margin-left: 10px;
  display: none;
  position: absolute;
  width: 100px;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.dropdownModelMenu:hover .dropdownContentModelMenu {
  display: block;
}
.dropdownContentModelMenu a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdownContentModelMenu a:hover {
  opacity: 0.7;
}
